@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

$frost-field-demos-shadow-color: rgba(0, 0, 0, .13);

.dummy-body{
  margin-left: 20px;
}

.frost-field-demo {
  display: flex;
  flex-direction: row;

  &-example {
    height: 100vh;
    margin-left: 20px;
  }

  &-title {
    margin: 20px 0;
    color: $frost-color-grey-2;
    font-size: $frost-font-m;
    font-weight: bold;
  }

  &-selector-title {
    padding-top: 10px;
    font-style: italic;

    + a {
      padding-top: 10px;
    }

    > a,
    > .frost-modal-demo-selector-title {
      padding: 10px 0 0 10px;
    }
  }
}

.frost-field-demos {
  height: 100vh;
  padding: 0 20px;
  box-shadow: 0 0 5px 3px $frost-field-demos-shadow-color;
}
