<div>
  <h2>Default URL input field</h2>
  {{! BEGIN-SNIPPET default }}
  {{frost-url-input}}
  {{! END-SNIPPET}}
  {{code-snippet name='default.hbs'}}
</div>

<div>
  <h2>Custom placeholder message</h2>

  {{! BEGIN-SNIPPET placeholder }}
  {{frost-url-input
    placeholder="my placeholder"
  }}
  {{! END-SNIPPET}}
  {{code-snippet name='placeholder.hbs'}}
</div>
