<div class='frost-field-demo'>
  <div class='frost-field-demos'>
    <div class='frost-field-demo-title'>
      Frost fields
    </div>
    {{#link-to 'demo.url-input'}}frost-url-input{{/link-to}}

  </div>
  {{#frost-scroll class='frost-field-demo-example' hook='myScroll'}}
    {{outlet}}
  {{/frost-scroll}}
</div>
